<div id="toc">
  <ul>
    <li>Catalogs
      <ul>
	<li><a href="{{ base-url }}/All_Repos.html">All Repos</a></li>
	<li><a href="{{ base-url }}/All_Samples.html">All Samples</a></li>
      </ul>
    </li>
    <li>BlackBerry &reg;
      <ul>
	<li><a href="http://developer.blackberry.com">Developer</a></li>
	<li><a href="http://devblog.blackberry.com">Blog</a></li>
	<li><a href="http://www.youtube.com/user/BlackBerryDev">YouTube</a></li>
	<li><a href="http://supportforums.blackberry.com/t5/Developer-Support-Forums/ct-p/blackberrydev">Forum</a></li>
	<li><a href="http://www.blackberrydeveloperevents.com">Events</a></li>
	<li><a href="http://slideshare.net/blackberry/tagged/developer">SlideShare</a></li>
      </ul>
    </li>
    <li>Open Source
      <ul>
	<li><a href="http://developer.blackberry.com/opensource">Site</a></li>
	<li><a href="{{ community-url }}/All_Pages.html">Wiki</a></li>
	<li><a href="http://openbbnews.wordpress.com" title="Better location soon">Blog</a></li>
	<li><a href="http://supportforums.blackberry.com/t5/General-Open-Source-Topics/bd-p/gost">Forum</a></li>
      </ul>
    </li>
    <li>Contribute
      <ul>
	<li><a href="{{ base-url }}/Add_Overview.html">Overview</a></li>
	<li><a href="{{ base-url }}/Add_Sample.html">Samples</a></li>
	<li><a href="{{ base-url }}/Add_Repo.html">Repos</a></li>
	<li><a href="{{ base-url }}/Add_Component.html">Components</a></li>
	</ul>
    </li>
  </ul>
</div>
